<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Plantpedia</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/classy-nav/dist/classy-nav.css" />

    @RenderSection("Styles", required: false)
</head>

<body>

    <header>
        <h1>PLANTPEDIA</h1>
        <nav class="main-nav">
            <a asp-page="/Home/Home">Trang Chủ</a>
            <a asp-page="/Home/Search">Tra Cứu</a>
            <a asp-page="/Home/Favorite">Cây Yêu Thích</a>
            <a asp-page="/Home/PlantDiagnosis">Chuẩn Đoán Bệnh</a>
            @if (User.Identity?.IsAuthenticated == true)
            {
                @if (User.IsInRole("admin"))
                {
                    <a asp-page="/Admin/Admin">Quản Lý</a>
                }

                <form asp-controller="Auth" asp-action="Logout" method="post" class="d-flex align-items-center">
                    @Html.AntiForgeryToken()
                    <button class="nav-link btn btn-link text-dark" type="submit">Đăng xuất</button>
                </form>
            }
            else
            {
                <a asp-page="/Auth/Login" asp-route-ReturnUrl="@(Context.Request.Path + Context.Request.QueryString)">
                    Đăng Nhập
                </a>
            }
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/classy-nav/dist/classy-nav.min.js"></script>
    @await Html.PartialAsync("_Modal")
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>